
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-s

}
body{
  font-family: montrserrat;
}
nav{
  height: 80px;
  width: 100%;
  background: #28282B;
  margin-top: -3.2em;
  

}
 nav ul{
   float: right;
   margin-right: 40px;

 }

 nav li{
   display: inline-block;
   margin:0 8px;
   line-height: 80px; 
 }

 nav a{
   color: white;
   font-size:18px;
   letter-spacing: 3px;
   text-transform: uppercase;
   border: 1px  transparent;
   padding: 8px;
   border-right: 10px;
 }

 a.active,a:hover{
  border: 1px solid white;
  transition: .5s;
 }

 nav #icon {
   color: white;
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
   display: none;
 }

 .hero {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: -7em;
   width: 70%;
   height: 30em;
}


 @media (max-width:1048px)
 {  

     \\add button;

     nav ul{
       margin-right: 20px;

     }
     nav a{
       font-size:17px;
     }

    
 }

 @media (max-width:1073px)
{
  nav #icon{
    display: block;

  }
  .hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-11.9em;
    width: 100%;
    height: 20em;
}
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top:80px;
    left:-100%;
    text-align: center;
   transition: all .5s;
  }
  nav li{
    display: block;
    margin:50px 0;
    line-height: 15px;
   

  }
nav a{
  font-size:15px;
}

a.active,a:hover{
  border:none;
  color: blueviolet;

}

nav ul.show{
  left:0;
}

}

.search-box {
  position: absolute;
  top:4em;
  left: 1em;
  transform:translate(0,-100%);
  background: white;
  height:30px;
  border-radius: 50px;
  padding: 7px;
 
}

.search-box:hover>.search-txt{
  width:240px;
}


.search-btn {
  color:black;
  float: right;
  width:15px;
  height:20px;
  border-radius:50%;
  background:white;
  display:flex;
  justify-content: center;
  align-items: center;
}


.search-txt {
  border:none;
  background:none;
  outline: none;
  float:left;
  padding:0;
  color:black;
  font-size:16px;
  transition:0.4s;
  line-height:20px;
  width:0px;
}
  /*Body*/
  
  
  
  /*footer*/
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
  
  *{
      padding: 0px;
      margin: 0px;
  }
  
  html{
      background-color: #eaf0f2d2;
  }
  
  body{
      font: Arial,  sans-serif;
  }
  
  header{
      text-align: left;
      padding-top: 500px;
      margin-bottom:190px;
  }
  
  header h1{
      font: normal 32px/1.5 'Open Sans', sans-serif;
    
      padding-bottom: 16px;
  }
  
  footer{
      position: fixed;
      bottom: 0;
  }
  
  @media (max-height:800px){
      footer { position: static; }
      header { padding-top:50px; }
  }
  
  
  .footer-part{
      background-color: #100f11;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 20px sans-serif;
      padding: 60px 60px 60px 60px;
      margin-top: 30rem;
  }
  
  .footer-part .footer-left,
  .footer-part .footer-center,
  .footer-part .footer-right{
      display: inline-block;
      vertical-align: bottom;
  }
  
  /* Footer left */
  
  .footer-part .footer-left{
      width: 31%;
      
  }
  
  .footer-part h3{
      color:  #ffffff;
      font: normal 40px  ;
      margin: 3px;
  }
  
  
  .footer-part .footer-left img{
      width: 100%;
  }
  
  .footer-part h3 span{
      color:  #ca170a;
  }
  
  /* Footer links */
  
  .footer-part .footer-links{
      color:  #ffffff;
      margin: 30px 10px 30px;
  }
  
  .footer-part .footer-links a{
      display:inline-block;
      line-height: 4;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-part .footer-sit-name{
      color:  #8f9296;
      font-size: 10px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-part .footer-center{
      width: 30%;
  }
  
  
  .footer-part .footer-center i{
      background-color:  #eb084c;
      color: #ffffff;
      font-size: 20px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      margin: 15px 15px;
      vertical-align: middle;
  }
  
  
  
  .footer-part .footer-center p{
      display: inline-block;
      font-family:cursive;
      color: #ffffff;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-part .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:20px;
      line-height:4;
  }
  
  .footer-part .footer-center p a{
      color:  #e0ac1c;
      text-decoration: none;;
  }
  
  
  /* Footer Right */
  
  .footer-part .footer-right{
      width: 30%;
  }
  
  .footer-part .footer-sit-about{
      line-height: 30px;
      color:  #92999f;
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      padding: 15px;
  }
  
  .footer-part .footer-sit-about span{
      display: block;
      color:  #ffffff;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 30px;
  }
  
  .footer-part .footer-icons{
      margin-top: 25px;
      
      border-radius: 50%;
  }
  
  .footer-part .footer-icons a{
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      background-color:  #e61833;
  
  
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      line-height: 53px;
  
      margin-right: 6px;
      margin-bottom: 15px;
  }
      input[type=submit] {
          background-color: #da1414;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          
        }
        input[type=email] {
          background-color: #f7efef;
          color: black;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          float: left;
          
        }
  
  @media (max-width: 880px) {
  
      .footer-part .footer-left,
      .footer-part .footer-center,
      .footer-part .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-part.footer-center i{
          margin-left: 0;
      }
  
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  
  
  /*body*/

*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}

header h1{
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}

h2{
	color:#000000;
margin:1.5 0px;	
}
.left-col{
float: left;
width: 75%;	
}

.right-col{
 width: 25%;
 float: right;
 padding-left:20px;
}
.card{
	padding: 20px;
	background-color: #ffffff;
 margin-top:20px;
}

.card img{
	width: 100%;
}


.right-col .card img{
	margin-bottom: 10px;
}




/*responsive */

@media(max-width:800px){
	.left-col,.right-col{
    width: 100%;
    padding: 0px;
	}
}

