*{
	margin: 0;
	padding: 0;
}
body{
	padding: 20px;
	background: #eee;
	user-select: none;
}
[type=radio]{
	display: none;
}
#slide{
	height: 35vw;
	position: relative;
	perspective: 1000px;
	transform-style:preserve-3d ;
}
#slider label{
	margin: auto;
	width: 60%;
	height: 100%;
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	/*yaha yar transition kese add karte  */
	transition: transform 0.4s ease;
	yaha tran


}
#s1:checked ~#slide4, #s2:checked ~#slide5,
#s3:checked ~#slide1, #s4:checked ~#slide2,
#s5:checked ~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
	transform: translate3d(-30%,0,-200px,);
}