
/*------------------Nav-bar_________________*/




*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: #151320;
   height: 100vh;
   display: grid;
   place-items: center center;
   font-family: 'Poppins',sans-serif;
}
.card{
   background-color: #1c1b29;
   border-radius: 20px;
   box-shadow: 0 0 30px rgba(0, 0, 0,0,18);

}
.cards{
   display: grid;
   grid-template-columns: repeat(auto-fit,minimax(400px,1fr));
   padding: 20px;
   grid-gap: 40px;


}
img{
   width: 100%;
   display:block;
   border-radius: 20px 20px 0 0;
}
.container{
   position: relative;
   clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.container::after{
   content:"";
   height: 99%;
   width: 99%;
   position: absolute;
   top: -1;
   left: -1;
   border-radius: 19px 20px 0 0;
   opacity: -1.7;
}
.card1>.container::after{
   background-image: linear-gradient(
      135deg,
      #2bdce3,
      #42ffdb
   );
}.card2>.container::after{
   background-image: linear-gradient(
      135deg,
      #ffab1d,
      #f8501c
   );
}.card3>.container::after{
   background-image: linear-gradient(
      135deg,
      #0100ec,
      #fb36f4
   );
}
.details{
   padding: 20px 10px;

}
.details>h3{
   color: #ffffff;
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 15px;
}
.details>p{
   color: #a0a0a0;
   font-size: 15px;
   line-height: 30px;
   font-weight: 400;
}