
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-s

}
body{
  font-family: montrserrat;
}
nav{
  height: 80px;
  width: 100%;
  background: #28282B;
  margin-top: -3.2em;
  

}
 nav ul{
   float: right;
   margin-right: 40px;

 }

 nav li{
   display: inline-block;
   margin:0 8px;
   line-height: 80px; 
 }

 nav a{
   color: white;
   font-size:18px;
   letter-spacing: 3px;
   text-transform: uppercase;
   border: 1px  transparent;
   padding: 8px;
   border-right: 10px;
 }

 a.active,a:hover{
  border: 1px solid white;
  transition: .5s;
 }

 nav #icon {
   color: white;
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
   display: none;
 }

 .hero {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   width: 60%;
   height: 25em;
}


 @media (max-width:1048px)
 {  

     \\add button;

     nav ul{
       margin-right: 20px;

     }
     nav a{
       font-size:17px;
     }

    
 }

 @media (max-width:1073px)
{
  nav #icon{
    display: block;

  }
  .hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-11.9em;
    width: 100%;
    height: 13em;
}
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top:80px;
    left:-100%;
    text-align: center;
   transition: all .5s;
  }
  nav li{
    display: block;
    margin:50px 0;
    line-height: 15px;
   

  }
nav a{
  font-size:15px;
}

a.active,a:hover{
  border:none;
  color: blueviolet;

}

nav ul.show{
  left:0;
}

}

.search-box {
  position: absolute;
  top:4em;
  left: 1em;
  transform:translate(0,-100%);
  background: white;
  height:20px;
  border-radius: 50px;
  padding: 10px;
 
}

.search-box:hover>.search-txt{
  width:240px;
}


.search-btn {
  color:black;
  float: right;
  width:20px;
  height:20px;
  border-radius:50%;
  background:white;
  display:flex;
  justify-content: center;
  align-items: center;
}
