
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-s

}
body{
  font-family: montrserrat;
}
nav{
  height: 80px;
  width: 100%;
  background: #28282B;
  margin-top: -3.2em;
  

}
 nav ul{
   float: right;
   margin-right: 40px;

 }

 nav li{
   display: inline-block;
   margin:0 8px;
   line-height: 80px; 
 }

 nav a{
   color: white;
   font-size:18px;
   letter-spacing: 3px;
   text-transform: uppercase;
   border: 1px  transparent;
   padding: 8px;
   border-right: 10px;
 }

 a.active,a:hover{
  border: 1px solid white;
  transition: .5s;
 }

 nav #icon {
   color: white;
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
   display: none;
 }

 .hero {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   width: 60%;
   height: 25em;
}


 @media (max-width:1048px)
 {  

     \\add button;

     nav ul{
       margin-right: 20px;

     }
     nav a{
       font-size:17px;
     }

    
 }
